/* --- RESETEO BÁSICO --- */

/* Aquí reinicio todo. Quito los espacios que ponen los navegadores 
   por defecto y activo el 'border-box' para que el padding no me 
   deforme el tamaño de las cajas. Básico para no sufrir luego. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- CUERPO DE LA PÁGINA --- */

/* Pongo la fuente y los colores base. 
   El truco del 'flex' y 'min-height: 100vh' es para asegurar que la web 
   ocupe SIEMPRE toda la altura de la pantalla, aunque tenga poco contenido. */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-body);
    color: var(--color-dark);
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* --- ENLACES --- */

/* Le quito ese subrayado azul feo que traen los links por defecto 
   y hago que tomen el color del texto normal. */
a {
    text-decoration: none;
    color: inherit;
}