/* Definición de Variables Globales (:root)  */
:root {
    /* PALETA DE COLORES */
    
    /* ESTE ES EL COLOR DEL FOOTER Y LOGO */
    --color-primary: #1B365D; 
    
    /* Detalles Dorados */
    --color-gold: #C5A059;
    
    /* Fondos */
    --color-bg: #ffffff;
    --color-text: #2c3e50;
    --color-text-light: #6c757d;
    
    --font-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}